*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: rgba(26, 11, 46, 1);
}

/* nav styling */

nav>img{
  display: none;
}

nav{
  
  display: flex;
   width: 80vw;
  justify-content: space-between;
  margin: 10px auto;
  height:10vh;
  align-items: center;
  
}

nav .menu-list-container{
 
  display: flex;
  list-style: none;
  width:20%;
  
  justify-content: space-between;
}

.logo{
  color:white;
 font-size: 30px;
 font-weight: 900;
}

.logo span {
  background: linear-gradient(
    90deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 50%,
    rgba(145, 0, 248, 1) 100%
  );
 
  background-clip: text;          
  color: transparent;            
}

.menu-list-container{
  color:white;

}

.menu-list-container li:hover{
  color:rgb(26, 169, 121);
  cursor: pointer;
}

nav button{
  width: 10vw;
  height:55%;
  color: aliceblue;
  background: linear-gradient(
    90deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 50%,
    rgba(145, 0, 248, 1) 100%
  );
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:5px;
  transition: all 0.4s ease;
}
nav button:hover{
  transform: scale(1.1);
  filter:brightness(1.1);
}

/* banner-section */

.banner{
  /* border: 2px solid red; */
  margin-top: 15dvh;
  height: 95dvh;
  width:98vw;
}
.banner .banner-image{
  /* border: 2px solid red; */
  height:60%;
  width:100%;
}

.hero-bg{
  /* border: 2px solid red; */
  height: 100%;
  width:100%;
}
#hero-circle{
  /* border: 2px solid red; */
  position:absolute;
  right: 35%;
  top:19vh;
  width: 30%;
}
#microphone{
  position: absolute;
  top:33vh;
  right: 45%;
}
.additional{
  position:absolute;
  background-color: rgb(42, 249, 80);
  border:1px solid black;
  font-size: 12px;
  width:40px;
  padding:5px;
  border-radius: 10px;
  right:40%;
  top:20%;
}

.banner-text{
  margin-top:30px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-text .heading{
   color:white;
 font-size: 40px;
 font-weight: 900;
}

.banner-text .short-description{
  margin-top: 20px;
   color:rgb(127, 124, 124);
  margin-bottom: 30px;
  
}

.button-container{
  display: flex;
  flex-direction: row;
  gap:10px;
}

.btn1{
   width: 13vw;
  height:30px;
  color: aliceblue;
  background: linear-gradient(
    90deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 50%,
    rgba(145, 0, 248, 1) 100%
  );
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:5px;
  transition: all 0.4s ease;
}

.btn1:hover{
  transform: scale(1.1);
  filter:brightness(1.1);
}

.btn2{
 width: 13vw;
  height:30px;
  color: rgb(19, 162, 72);
  border:1px solid  rgb(19, 162, 72);
 background:transparent;
  
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:5px;
  transition: all 0.4s ease;

}

.btn2:hover{
  transform:scale(1.1);
  background-color: aliceblue;
  color:black;
}
/* about section */
.about{
  /* border:2px solid red; */
  width:70vw;
  margin:40px auto;
  display: flex;
  flex-direction: column;
}

.about .about-heading{
   color:white;
 font-size: 40px;
 font-weight: 900;
 text-align: center;
 margin-bottom: 20px;
}

.about .first-pera, .second-pera{
 color:rgb(127, 124, 124);
  text-align: center;
  width:80%;
  margin: 0px auto;
  margin-bottom: 20px;
}

.card-container{
  
  display: grid;
  grid-template-columns:repeat(4,1fr) ;
     gap:40px;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

}

.card-header{
  font-size: 40px;
 font-weight: 900;
 color: rgb(8, 238, 81);
 margin-bottom: 20px;
 
}
.card-description{
  color:rgb(127, 124, 124);
}

.features{
   /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  width:80vw;
  gap:10px;
  margin: 150px auto;
}

.features>p{
  /* border: 2px solid red; */
 
   color:white;
 font-size: 40px;
 font-weight: 900;
 text-align: center;
 margin-bottom: 20px;
}

.audio{
  grid-area: audio;
}
.mobile{
  grid-area: mobile;
}
.global{
  grid-area: global;
}
.interviews{
  grid-area: interviews;
}
.resources{
  grid-area: resources;
}
.feature-container{
  /* border:1px solid red; */
  width:100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,200px);
  gap:10px;
  grid-template-areas: "audio mobile mobile"
                        "audio global global"
                      "interviews interviews resources"
   ;
}

#feature-card{
  display: flex;
  flex-direction: column;
  gap:10px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgba(100, 9, 98, 0.775);
  border-radius: 20px;
  border:0.5px solid black;
  /* border:1px solid red; */
  transition: all 0.4s ease;
  
}
#feature-card:hover{
    transform: scale(1.01);
}
 #feature-card>img{
  height: 30px;
 }
 .feature-card-heading{
  color:aliceblue;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

  .feature-card-description{
   color:rgb(127, 124, 124);
  text-align: center;
}

/* episode styling */

.episodes{
  width:80vw;
  margin:0px auto;
  display:flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.episodes>p{
  color:white;
 font-size: 40px;
 font-weight: 900;
 text-align: center;
 margin-bottom: 20px;
 animation: shake 2.5s infinite;
 
}
@keyframes shake {
  0% {
    transform: translateX(0);
    color: #e6e6e6;
  }

  5% {
    transform: translateX(-6px);
    color: #00c853;
  }

  10% {
    transform: translateX(6px);
    color: #00e676;
  }

  15% {
    transform: translateX(-6px);
    color: #00c853;
  }

  20% {
    transform: translateX(6px);
    color: #00e676;
  }

  25% {
    transform: translateX(0);
    color: #b9f6ca;
  }

  60% {
    transform: translateX(0);
    color: #e6e6e6;
  }

  100% {
    transform: translateX(0);
    color: #e6e6e6;
  }
}


.episode-container{
  width:100%;
  display: flex;
  flex-direction: row;
  gap:20px;
}

.episode{
  width:30%;
   background-color: rgb(54, 18, 102);
  border-radius: 20px;
  border:0.5px solid black;
}
.episode>iframe{
  width:100%;
 border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}
.episode-heading{
   color:white;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}
.episode-description{
  color:rgb(127, 124, 124);
  margin-top:15px;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  
}

.timer{
  display:flex;
  gap:4px;
  color:rgb(17, 192, 17);
  margin-left: 20px;
  margin-bottom: 20px;
}

.host{
 
  width:80vw;
  margin:0px auto;
  display: flex;
  flex-direction: column;
  gap:40px;
}

.host>p{
   color:white;
 font-size: 40px;
 font-weight: 900;
 text-align: center;
 margin-bottom: 20px;
}
.intro{
  display: flex;
  gap:30px;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 30px;
  background-color: rgb(54, 18, 102);
  margin-bottom: 20px;
}

.host-name{
   color:white;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 10px;
}
.host-description{
  color:rgb(173, 168, 168);
}

.socials{
  display: flex;
  list-style: none;
  margin-top: 15px;
  gap:20px;
}

.socials>li{
  display: flex;
  height:30px;
  width:30px;
  align-items: center;
  justify-content: center;
  border:1px solid rebeccapurple;
  border-radius: 50%;
}

footer>img{
  width:98.5vw;
  height:40vh;
}

.footer-details{

  display: flex;
  gap:10px;
  flex-direction: column;
  width:40vw;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:492.5vh;
  right:60vh;
}

.footer-details ul{
 
  display: flex;
  flex-direction: row;
  list-style: none;
  width:100%;
  justify-content: space-between;
}

.footer-details ul li{
  display: flex;
  flex-direction: row;
  gap:3px;
  color:white;

}

.footer-details p{
  color: aliceblue;
}



@media screen and (max-width:560px) {
  nav>ul>li{
    display: none;
  }
  nav  button{
    display: none;
  }
  nav>img{
  display: inline;
}
#hero-circle{
  /* border: 2px solid red; */
  top:39%;
  right:35%;
}
#microphone{
  position:absolute;
    /* border: 2px solid red; */
  height:9%;
  width:13%;
  top:42%;
  left:43.5%;
}
.additional{
  top:38%;
}
.banner-text {
  width:80vw;
  margin:0px auto;
  
}
.button-container{
  width:100%;
  justify-content: space-between;
}
.btn1{
  width:38vw;

}
.btn2{
  width:33vw;
}
.banner-text .short-description{
  margin-top:17px;
  text-align: center;
  margin-bottom: 17px;
}

.about{
  margin:0px 0px 0px 0px;
  width:100vw;
  justify-content: center;
  align-items: center;
}
.card-container{
  width:80%;
  grid-template-columns: repeat(2,1fr);
  gap:10px;
}


.card-header{
  margin-bottom:6px;
  font-size: 20px;
}

.features{
  width:100vw;
  margin-top:54px;
}
.feature-container{
  gap:20px;
  width:94%;
  margin:0px auto;
  grid-template-columns: 1fr;
  grid-template-rows: 300px;
  grid-template-areas: "audio"
                       "global"
                       "mobile"
                       "interviews"
                       "resources"
  
  ;
}

.features>p{
  font-size: 35px;
}

#feature-card{
  width:92%;
  margin:0px auto;
}

.episodes{
  width:100vw;
}

.episode-container{
  width:94%;
  margin:0px auto;
  display:grid;
  grid-template-columns: repeat(1,fr);
}

.episode{
  width:90%;
  gap:10px;
  margin:0px auto;
}
.intro{
  flex-direction: column;
}

.footer-details{
  position:relative;
 right: -29vw;
 top:-29vh;
  display: flex;
  gap:10px;
}
.footer-details ul{
  width:35vw;
  display: flex;
  flex-wrap: wrap;
  gap:5px;
}
.footer-details ul>li{
  font-size: small;
}


  
}
